@import '../vars';

section.video {
    padding: $spacing-xl 0;
    margin-top: -20rem;
    // z-index: 1;

    @media(max-width:640px) {
        margin-top: -12rem;
    }

    iframe {
        width: 100%;
        height: 539px;
        
        border-radius: $border-radius-xxxl;

        @media(max-width:640px) {
            height: 213px;
        }
    }

    button {
        margin-top: $spacing-xs;
    }

    h2 {
        font-family: $font-familyMedium;
        font-size: $font-size-xl;
        margin: $spacing-xxxl 0 $spacing-xl;
        max-width: 610px;

        @media(max-width:640px) {
            text-align: center;
            max-width: 320px;
            margin: $spacing-xl auto $spacing-xl;
        }

        b {
            background: linear-gradient(90deg, #A8753D 0%, #D89A2A 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .content {
        max-width:240px;

        @media(max-width:640px) {
            max-width: 350px;
            margin-bottom: $spacing-xl;
            padding: 0 $spacing-xxl;
        }

        strong {
            font-size: $font-size-xl;
            background-color: #EFE5D7;
            color: #D89A2A ;
            width: 68px;
            height: 68px;

            display: flex;
            align-items: center;
            justify-content: center;

           border-radius: 42px;
           margin-bottom: $spacing-xxxs;
        }
    }
}